@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



:root{
  --bg: #0f8d87;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  /* background-color: #363636;   */
  /* background-color: #ffffff; */
  background-color: #e5e5f7;
  /* opacity: 0.9;
  background-image:  radial-gradient(#0f8d87bb 2px, transparent 2px), radial-gradient(#0f8d87cb 2px, #e5e5f7 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px; */
}



/*-------------------------Table------------------------*/
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  height: 20vh;
  border: none;
  border-spacing: 0;
  background-color: #fff;
  box-shadow: 7px 7px 30px #899494a6;
  overflow-y: scroll;
}

#customers td, #customers th {
  border-bottom: 1px solid #00000046;
  /* padding: 8px; */
  /* height: 2rem; */
}

#customers tr:nth-child(even){
  background-color: #ffffff;
}


#customers tr:hover {
  background-color: #ddd;
}

#customers th {

  text-align: center;
  background-color: #0f8d87;
  color: white;
  height: 3rem;
  font-size: 15px;
  padding-left: 14px;
  padding-right: 14px;
  width: auto;
}
#uniq{
  width: 100%;
  text-align: center;
}

td{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 5%;
  height: 10rem;
  font-size: 14px;
}

.fh{
  width: 15%;
  font-size: 12px;
  padding-left: 15px;
}

/*-------------------------End Table------------------------*/

h1{ 
  font-size: 2rem;
  color: #0c7973;
}
h2{
  padding-top: 2rem;
  text-align: center;
  font-size: 50px;
  text-shadow: 5px 3px 15px #202020;
  color: #fff;
  /* color: #0d5855; */
}
header{
  width: 100%;
  height: 6rem;
  background-color: #fff;
  display: flex;
  border-bottom: 1px solid #0c7973;
  box-shadow: 1px 1px 12px #0d5855;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgClinica{
  width: 12rem;
  height: 5rem;
}
.sub{
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  /* background-color: #0f8d87;
  opacity: 1;
  background-image:  radial-gradient(#ffffff 2px, transparent 2px), radial-gradient(#ffffff 2px, #0f8d87 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px; */
  background-image: url('./assets/fondo.svg');
  background-size: cover;
  background-position: center;
}
.containerTable{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  margin-bottom: 5rem;

}
.containerFilter{
  width: 100%;
  height: 5rem;
  margin: 0 0 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: #0c7973;
  box-shadow: 3px 3px 15px #000000c4;
}

select{
  padding: 0.4rem;
  width: 13rem;
  border: none;
  margin-right: 1rem;
  border-radius: 10px;
  background-color: #0d5855;
  color: #fff;
}
.search{
  width: 30rem;
  padding: 0.3rem;
  border-radius: 7px;
  border: none;
  background-color: #ffffff;
  color: #000;
}

#fecha{
  width: 13rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: #0d5855;
  color: #fff;
}
button{
  width: 10rem;
  margin-left: 1rem;
  padding: 0.3rem;
  background-color: #fff;
  border: none;
  color: #000;
  font-size: 14px;
  border-radius: 10px;
}
button:hover{
  background-color: #c2c2c2;
  transform: translateY(-2px);
  transition: 1s;
}

footer{
  width: 100%;
  height: 12rem;
  background-color: #0d5855;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  border-top: 1px solid #000;
  box-shadow: -10px -2px 10px #0d5855;
}

footer img{
  width: 24rem;
  height: 10rem;
}

#copy{
  width: 20%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span{
  color: #30e9e0;
}